<!-- Launches oculus_publisher, oculus_subscriber, and dynamic reconfigure gui
     with default sonar parameters (as defined in SimpleFireMessage.cpp)
-->
<launch>
  <arg name="initRange" value="2"/>
  <arg name="initGainPercent" value="50"/>
  <arg name="initGamma" value="127"/>
  <arg name="initPingRate" value="2"/>
  <arg name="initMasterMode" value="2"/>
  <arg name="ipAddress" default="auto"/>

  <group ns="oculus">

    <param name="ipAddress" value="$(arg ipAddress)"/>

    <node pkg="oculus_sonar_ros" type="oculus_publisher" name="oculus_publisher" output="screen"/>
    <node pkg="oculus_sonar_ros" type="oculus_subscriber" name="oculus_subscriber"/>
    <!-- <node pkg="rqt_reconfigure" type="rqt_reconfigure" name="rqt_reconfigure"/> -->

  </group>
</launch>
