<!-- Launches oculus_publisher, oculus_subscriber, and dynamic reconfigure gui
     with default sonar parameters (as defined in SimpleFireMessage.cpp)
-->
<launch>
  <arg name="range" default="2"/>
  <!-- <arg name="initGainPercent" default="50"/>
  <arg name="initGamma" default="127"/> -->
  <arg name="pingRate" default="2"/>
  <!-- <arg name="initMasterMode" default="2"/> -->
  <arg name="ipAddress" default="auto"/>

  <group ns="oculus">

    <param name="ipAddress" value="$(arg ipAddress)"/>
    <param name="range" value="$(arg range)"/>
    <param name="pingRate" value="$(arg pingRate)"/>

    <node pkg="oculus_sonar_ros" type="oculus_publisher" name="oculus_publisher" output="screen"/>
    <node pkg="oculus_sonar_ros" type="oculus_subscriber" name="oculus_subscriber"/>
    <!-- <node pkg="rqt_reconfigure" type="rqt_reconfigure" name="rqt_reconfigure"/> -->

  </group>
</launch>
